 <!--navbar-->
 

<!-- <ul class="nav justify-content-center">
    <label style="padding-top: 20px; font-family: 'Courier New', Courier, monospace; font-size: x-large;" ><i><b>NALANDA</b></i></label>
    <li ><img src="../assets/logo.png"  width="50" height="50" alt="">
    </li>
    <li class="nav-item" style="padding-top: 10px;">
      <a class="nav-link active" href="#">Addmissions</a>
    </li>
    <li class="nav-item"style="padding-top: 10px;">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item"style="padding-top: 10px;">
      <a class="nav-link" href="#">Services</a>
    </li>
    <li class="nav-item"style="padding-top: 10px;">
      <a class="nav-link ">About</a>
    </li>
  </ul> -->



<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fullname</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Password</th>
            <th>Gender</th>
            <th>Occupation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of value">
            <td>{{x.id}}</td>
            <td>{{x.fullname}}</td>
            <td>{{x.mobile}}</td>
            <td>{{x.email}}</td>
            <td>{{x.password}}</td>
            <td>{{x.gender}}</td>
            <td>{{x.occupation}}</td>
            <td>
                <button (click)="editTeacher()" type="submit">Edit</button> 
                <button (click)="deleteTeacher(x.id)" type="submit">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
